:root{
    --pink:#d8237a;
}

*{
    margin:0;padding:0;
    box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
outline: none;border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: white;
    padding: 2rem 9%;
    display: flex;
    text-align:center; 
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,1);

}
header .logo{
font-size: 3rem;
color: #333;
font-weight: bolder;
}

header .logo span{
    color:#d8237a;
}

header .navbar a{
    font-size: 2rem;
    padding: 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: #d8237a;
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 2rem;
}

header .icons a:hover{
    color: #d8237a;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
   display: none;
}






















/*media queries*/
@media (max-width:991px) {
    html{
        font-size: 62.5%;
    }

    header{
        padding: 2rem;
    }
}

@media (max-width:768px) {

    header .fa-bars{
        display: block;
    }
    header .navbar{
        position:absolute;
        top: 100%;left: 0;right: 0;
        background: white;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: (0 0,100% 0, 100% 0, 0 0);
    }

    header #toggler:checked .navbara{
        clip-path: polygon(0 0, 100% 0, 100% 100% 100%, 0% 100%);
    }

    header .navbara{
        margin: 1.5rem;
        padding: 1.5rem;
        background:white;
        border: 1rem solid rgba(0,0,0,.1);
        display: block;
    }
}






