*{
    margin: 0;
    padding: 0;
}


para{
    padding: 15px;
    width: 60%;
   
}
.box{
    padding:25px;
    text-align: center;
    
}
.flex{
    border-color: black;
    border-width: 10px;
    border-style: solid;
    display: inline-block;
    width: 240px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}
.boxs{
height: 245px;
margin-bottom: 10px;
border-color: black;
    border-width: 10px;
    border-style: solid;
    display: inline-block;
    width: 270px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}
.details{
    text-align: center;
}
.phnone no{
    text-align: center;
    margin-top: 25px;
}
.img{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}
